.container {
  width: 100%;
  margin-top: 50px;
  .row {
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
    .rowHeader,
    .rowList {
      display: grid;
      grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1fr;
      align-items: center;
      font-size: 16px;
    }
    .rowList {
      margin-top: 10px;
      p {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
  }
}
