.container {
    width: 100%;
    .searchInput {
      width: 100%;
      border-radius: 20px;
      padding: 15px 15px;
      font-size: 14px;
      margin-bottom: 30px;
    }
    .dateWrap {
      position: relative;
      width: 150px;
      height: 50px;
      border-radius: 20px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .dateLabel {
      font-size: 14px;
      color: #333;
      pointer-events: none;
    }
    .searchDate {
      position: absolute;
      inset: 0;
      opacity: 0;
      cursor: pointer;
      width: 100%;
      height: 100%;
    }
    .resultBox {
      width: 100%;
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      button {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 10px;
        font-size: 12px;
        color: #000;
        background: #d9d9d9;
        cursor: pointer;
      }
    }
  }
  