.container {
  width: 100%;
  margin-top: 50px;
  position: relative;
  .row {
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
    margin-top: 15px;
    &:first-child {
      margin: 0;
    }
    .rowHeader,
    .rowList {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      align-items: center;
      font-size: 14px;
      .modalBtn {
        font-size: 16px;
        color: #fff;
        cursor: pointer;
      }
    }
    .rowList {
      margin-top: 10px;
      p {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
  .guideBtn{
    width: 50px;
    height: 50px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    position: absolute;
    right: 0;
    bottom: -100px;
    cursor: pointer;
  }
}
