.modal {
  width: 91.11%;
  height: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #3a3a3a;
  border-radius: 20px;
  overflow: scroll;

  .container {
    padding: 20px;

    .h2Wrap {
      text-align: center;
      font-size: 20px;
      position: relative;

      .closeBtn {
        font-size: 20px;
        color: #fff;
        position: absolute;
        top: 0;
        right: 20px;
        cursor: pointer;
      }
    }

    .row {
      padding-bottom: 10px;
      border-bottom: 2px solid #000;
      margin-top: 15px;
      &:first-child {
        margin: 0;
      }
      .rowHeader,
      .rowList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        font-size: 14px;
        .modalBtn {
          font-size: 16px;
          color: #fff;
          cursor: pointer;
        }
      }
      .rowList {
        margin-top: 10px;
        p {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }
}
