.modal {
  width: 91.11%;
  max-width: 328px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #3a3a3a;
  border-radius: 20px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .container {
    padding: 20px;
    .h2Wrap {
      text-align: center;
      font-size: 20px;
      position: relative;
      .closeBtn {
        font-size: 20px;
        color: #fff;
        position: absolute;
        top: 0;
        right: 20px;
        cursor: pointer;
      }
    }
    .tideWrap {
      margin-top: 30px;
      .date {
        font-size: 16px;
        margin-bottom: 30px;
      }
      .tide {
        p {
          margin-bottom: 15px;
          font-size: 16px;
        }
        .tideTimeTable {
          font-size: 14px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          p {
            font-size: 16px;
          }
          .tideTime {
            margin-top: 10px;
            span {
              display: block;
              &:first-of-type {
                margin-bottom: 5px;
              }
            }
          }
        }
      }
      .sun {
        margin-top: 30px;
        p {
          margin-bottom: 15px;
          font-size: 16px;
        }
        .sunTimeTable {
          font-size: 14px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          p {
            font-size: 16px;
          }
          .sunTime {
            margin-top: 10px;
            span {
              display: block;
              &:first-of-type {
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
    .tideDetail {
      margin-top: 50px;
      font-size: 14px;
      p {
        // display: flex;
        // gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: 2px solid #626262;
        padding-bottom: 10px;
        margin-top: 10px;
        .tideLabel {
          font-size: 16px;
          min-width: 100px;
        }
      }
    }
  }
}
