.container {
  margin-top: 50px;
  width: 100%;
  .h2Wrap {
    font-size: 28px;
    .desc {
      font-size: 14px;
      margin-top: 15px;
    }
  }
  .searchBox {
    margin-top: 50px;
    width: 100%;
  }
  .linkContainer {
    width: 100%;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 20px;
    text-align: center;
    color: #000;
    font-size: 18px;

    .linkCard {
      width: 100%;
      // max-width: 200px;
      height: 154px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #d9d9d9;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}
