.modal {
  width: 91.11%;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #3a3a3a;
  border-radius: 20px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .container {
    padding: 20px;
    .h2Wrap {
      text-align: center;
      font-size: 20px;
      position: relative;
      .closeBtn {
        font-size: 20px;
        color: #fff;
        position: absolute;
        top: 0;
        right: 20px;
        cursor: pointer;
      }
    }
    .banLists {
      margin-top: 50px;
      li {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.5fr;
        margin-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        border-bottom: 2px solid #626262;
      }
      .fishes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.5fr;
        span {
          font-size: 14px;
        }
        .fishName {
          font-size: 16px;
        }
      }
    }
  }
}
