.drawer{
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
        padding: 15px 10px 15px 10px;
        background: #fff;
        font-size: 12px;
        text-align: center;
        border-radius: 10px;
    }
}