.container {
  width: 100%;
  position: relative;
  span {
    position: absolute;
    right: 30px;
    color: #000;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
  .searchInput {
    width: 100%;
    border-radius: 20px;
    padding: 15px 15px;
    font-size: 14px;
  }
}
