.container {
  width: 100%;
  // position: relative;
  // span {
  //   position: absolute;
  //   right: 30px;
  //   color: #000;
  //   font-size: 16px;
  //   top: 50%;
  //   transform: translateY(-50%);
  // }
  .searchInput {
    width: 100%;
    border-radius: 20px;
    padding: 15px 15px;
    font-size: 14px;
  }
  // .recentSearch {

  // }
  .resultBox {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    a {
      display: block;
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 10px;
      font-size: 12px;
      color: #000;
      background: #d9d9d9;
    }
  }
}
