.container {
  width: 100%;
  margin-top: 100px;
  // .searchBox {
  //   width: 100%;
  // }
  .monthBtns{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding-bottom: 50px;
    .monthBtn{
      width: 100%;
      height: 75px;
      background:#d9d9d9;
      border-radius: 10px;
      cursor: pointer;
      color: #000;;
      
    }
  }
}
